<!-- TODO: Designed layout -->
<app-dashboard-breadcrum [itemLinks]="['Banking', 'Administración', 'Productos']"></app-dashboard-breadcrum>
<div class="container">

    <div class="section">
        <div class="columns m-t-15">
            <div class="column is-6">
                <h3 class="subtitle is-3">Productos</h3>
            </div>
            <div class="column is-6">
                <div class="field">
                    <p class="control has-icons-left is-loading">
                        <input name="seach" class="input is-rounded" type="search" placeholder="Search..." />
                        <span class="icon is-small is-left">
                            <i class="fa fa-search"></i>
                        </span>
                    </p>
                </div>
            </div>
        </div>

        <!-- Table -->
        <div class="table-container m-b-15">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th><abbr title="Cuenta">Cuenta</abbr></th>
                        <th><abbr title="Descripcion">Descripcion</abbr></th>
                        <th><abbr title="Tipo">Tipo</abbr></th>
                        <th><abbr title="Subtipo">Subtipo</abbr></th>
                        <th><abbr title="Moneda">Moneda</abbr></th>
                        <th><abbr title="Fecha">Fecha</abbr></th>
                        <th><abbr title="Balance Minimo">Balance minimo</abbr></th>
                        <th><abbr title="Estado">Estado</abbr></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="8"><span class="pull-right has-text-grey is-size-7">Products of Bank LAFISE
                                Bancentro</span></td>
                    </tr>
                </tfoot>
                <tbody>
                    <!-- class="is-selected"  -->
                    <tr *ngFor="let product of productList">
                        <td>{{product.id}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.type.name}}</td>
                        <td>{{product.subtype.name}}</td>
                        <td>$</td>
                        <td>{{product.createdAt}}</td>
                        <td>0.00</td>
                        <td>{{product.isEnable}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer class="foot-layout">
        <app-cs-pagination  [totalCount]="records.length"
                            [pageSize]="pageSize"
                            (OnSelectItem)="onSelectedPage($event)">
        </app-cs-pagination>
    </footer>
</div>