.full-w-h {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;

    @at-root {
        body, html {
            height: 100%;
        }
    }
}

.is-fcentered {
    @extend .full-w-h;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}