.full-w-h {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;

    @at-root {
        body, html {
            height: 100%;
        }
    }
}

.is-fcentered {
    @extend .full-w-h;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.is-fullwidth {
    min-width: 100%;
}

$sizes: (0,5,10,15,20,25,30,50);
$positions: ('top','left','bottom','right');

@each $size in $sizes {
    @each $position in $positions {
        .m-#{str-slice($position, 1, 1)}-#{$size} {
            margin-#{$position}: $size + px;
        }
        .p-#{str-slice($position, 1, 1)}-#{$size} {
            padding-#{$position}: $size + px;
        }
    }
}

.gradient-primary {
    background: linear-gradient(to top, darken($primary-color, 10%), $primary-color, darken($primary-color, 5%));
}