<div class="columns full-w-h">
    <div class="column is-two-fifths hero is-primary is-fcentered">
        <figure class="logo-image-128w">
            <img class="image" src="https://secure.bancolafise.com/webui/Resources/images/logo_positivoA.png" />
        </figure>
    </div>

    <div class="column is-fcentered">
        <form class="form">
            <div class="field">
                <span class="title">Inicio de sesión</span>
            </div>

            <!-- Form Login -->
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="text" placeholder="Nombre de usuario" />
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                </p>
            </div>

            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="text" placeholder="Contraseña" />
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                </p>
            </div>

            <div class="field">
                <p class="control">
                    <input class="button is-primary is-fullwidth" value="Iniciar sesión" />
                </p>
            </div>
            <!-- End Form Login -->
        </form>
    </div>
</div>