// colors
$green-color: rgb(11, 136, 94);
$green-dark-color: #0b5843;
$green-ligth-color: hsl(141, 71%, 48%);
$red-color: hsl(348, 100%, 61%);
$yellow-color: hsl(48, 100%, 67%);
$blue-color: hsl(217, 71%, 53%);
$blue-ligth-color: hsl(204, 86%, 53%);
$muted-color: hsl(0, 0%, 48%);
$black-color: hsl(0, 0%, 4%);
$white-color: hsl(0, 0%, 100%);
$gray-color: #e6e6e6;
$dark-gray-color: #4a4a4a;

// theme color
$primary-color: $green-color;
$primary-ligth-color: $green-ligth-color;
$secondary-color: $green-dark-color;
$text-color: $dark-gray-color;
$border-color: darken($gray-color, 10%);
$bg-color: $gray-color;
$active-link: #88c526;

// Margins
$space-default: 8;

// Border
$semi-round: 5;
$round: 15;

$border-size-card: 1;