<div class="container is-fullwidth">
    <div class="columns">
        <div class="column">
            <!-- is-fixed-top -->
            <app-dashboard-navbar></app-dashboard-navbar>
        </div>
    </div>

    <div class="columns m-l-5">
        <div class="column is-one-fifth">
            <app-dashboard-sidebar></app-dashboard-sidebar>
        </div>
        <div class="column">

            <!-- Dynamic View -->
            <router-outlet></router-outlet>
            
            <app-dashboard-breadcrum></app-dashboard-breadcrum>
            <h3 class="subtitle is-3">Colaboradores</h3>
        </div>
    </div>
</div>