<div class="container is-fullwidth">
    <div class="columns">
        <div class="column">
            <!-- is-fixed-top -->
            <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="https://secure.bancolafise.com/webui">
                        <figure class="logo-image-128w">
                            <img class="image"
                                src="https://secure.bancolafise.com/webui/Resources/images/logo_positivoA.png" />
                        </figure>
                    </a>

                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="true"
                        data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <!-- <div class="navbar-start">
                        <a class="navbar-item">
                            Inicio
                        </a>
                    </div> -->

                    <div class="navbar-end">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                <figure class="image is-32x32">
                                    <img class="is-rounded"
                                        src="https://upload.wikimedia.org/wikipedia/commons/a/ad/Placeholder_no_text.svg">
                                </figure>
                                <span class="m-l-5">Maradiaga Velasquez</span>
                            </a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item">
                                    <span><em class="fa fa-id-card m-r-5"></em> Mi Perfil</span>
                                </a>
                                <hr class="navbar-divider">
                                <a class="navbar-item">
                                    <figure class="image is-16x16">
                                        <img src="https://image.flaticon.com/icons/svg/126/126467.svg">
                                    </figure>
                                    <span class="m-l-5">Cerrar sesión</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="columns m-l-5">
        <div class="column is-one-fifth">
            <aside class="menu is-primary">
                <p class="menu-label">
                    General
                </p>
                <ul class="menu-list">
                    <li><a>Dashboard</a></li>
                    <li><a>Clientes</a></li>
                </ul>
                <p class="menu-label">
                    Administración
                </p>
                <ul class="menu-list">
                    <li><a>Configuraciones</a></li>
                    <li>
                        <a class="is-active">Equipo LAFISE</a>
                        <ul>
                            <li><a>Colaboradores</a></li>
                            <li><a>Politicas</a></li>
                        </ul>
                    </li>
                    <li><a>Productos</a></li>
                    <li><a>Autenticación</a></li>
                </ul>
                <p class="menu-label">
                    Transacciones
                </p>
                <ul class="menu-list">
                    <li><a>Pagos</a></li>
                    <li><a>Transferencias</a></li>
                    <li><a>Balance</a></li>
                </ul>
            </aside>
        </div>
        <div class="column">

            <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
                <ul>
                    <li><a href="#"><span class="icon is-small">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </span>
                            <span>Banking</span></a></li>
                    <li><a href="#">Administración</a></li>
                    <li><a href="#">Equipo LAFISE</a></li>
                    <li class="is-active"><a href="#" aria-current="page">Colaboradores</a></li>
                </ul>
            </nav>
            <!-- Dynamic View -->
            <router-outlet></router-outlet>
            <h3 class="subtitle is-3">Colaboradores</h3>
        </div>
    </div>
</div>