<app-dashboard-breadcrum [itemLinks]="['Banking', 'General', 'Dashboard']"></app-dashboard-breadcrum>

<h3 class="subtitle is-3 m-t-15">Dashboard sucursales</h3>

<div class="container is-fluid">

    <nav class="level m-t-20">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Branches locate 1</p>
                <p class="title">302,456.50 USD</p>
                <p class="description">Nuevos clientes: 20</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Branches locate 2</p>
                <p class="title">65,315,456.00 USD</p>
                <p class="description">Nuevos clientes: 0</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Branches locate 3</p>
                <p class="title">36,456.78 USD</p>
                <p class="description">Nuevos clientes: 0</p>
            </div>
        </div>
    </nav>

    <nav class="level m-t-20">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Branches locate 4</p>
                <p class="title">356.90 USD</p>
                <p class="description">Nuevos clientes: 20</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Branches locate 5</p>
                <p class="title">45,096.10 USD</p>
                <p class="description">Nuevos clientes: 0</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Branches locate 6</p>
                <p class="title">11,156.98 USD</p>
                <p class="description">Nuevos clientes: 0</p>
            </div>
        </div>
    </nav>
</div>