<aside class="menu is-primary">
    <p class="menu-label">
        General
    </p>
    <ul class="menu-list">
        <li><a routerLink="/admin" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a></li>
        <li><a>Clientes</a></li>
    </ul>
    <p class="menu-label">
        Administración
    </p>
    <ul class="menu-list">
        <li><a>Configuraciones</a></li>
        <li>
            <a>Equipo LAFISE</a>
            <ul>
                <li><a routerLinkActive="is-active" routerLink="/admin/employees">Colaboradores</a></li>
                <li><a>Politicas</a></li>
            </ul>
        </li>
        <li><a routerLinkActive="is-active" routerLink="/admin/products">Productos</a></li>
        <li><a>Autenticación</a></li>
    </ul>
    <p class="menu-label">
        Transacciones
    </p>
    <ul class="menu-list">
        <li><a>Pagos</a></li>
        <li><a>Transferencias</a></li>
        <li><a>Balance</a></li>
    </ul>
</aside>